<style>
    .encodage {
        font-family: ocrb, courier, monospace;
        text-align: right;
        vertical-align: bottom;
    }

    .bvr {
        height: 106mm;
        width: 210mm;

        font-family: ocrb, courier, monospace;
        font-size: 13px;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .bvr > div {
        position: absolute;
        margin: 0;
        padding: 0;
    }
</style>
{% set split = bvr.amount|number_format(2)|split('.') %}
<div class="bvr">
    <div style="top:12.7mm;left:2.54mm">{{ bvr.paymentFor|nl2br }}</div>
    <div style="top:12.7mm;left:63.5mm">{{ bvr.paymentFor|nl2br }}</div>
    <div style="top:33.86mm;right:5.08mm">{{ bvr.formattedReferenceNumber }}</div>
    <div style="top:42.33mm;left:27.94mm">{{ bvr.postalAccount }}</div>
    <div style="top:51.2mm;left:2.54mm;width:35.56mm;text-align:right;">{{ split[0] }}</div>
    <div style="top:51.2mm;left:48.26mm">{{ split[1] }}</div>
    <div style="top:59.26mm;left:2.54mm;font-size: 10px">{{ bvr.formattedReferenceNumber }}</div>
    <div style="top:42.33mm;left:88.9mm">{{ bvr.postalAccount }}</div>
    <div style="top:51.2mm;left:63.5mm;width:35.56mm;text-align:right;">{{ split[0] }}</div>
    <div style="top:51.2mm;left:109.22mm">{{ split[1] }}</div>
    <div style="top:50.8mm;left:126mm">{{ bvr.paymentFrom|nl2br }}</div>
    <div style="top:67.73mm;left:2.54mm">{{ bvr.paymentFrom|nl2br }}</div>
    <div style="top:84.6mm;right:7.62mm" class="encodage">{{ bvr.encodingLine }}</div>
</div>