<style>
    .encodage {
        font-family: ocrb, courier, monospace;
        text-align: right;
    }

    .bvr {
        height: 106mm;
        width: 210mm;
        font-family: ocrb, courier, monospace;
        font-size: 13px;
        margin: 0;
        padding: 0;
        position: absolute;
        left:0;
        bottom: 0;
    }

    .bvr div {
        position: absolute;
        float:left;
        margin: 0;
        padding: 0;
    }
    /*+190mm*/
    .sirgixbvr{
        position: absolute;
        font-family: ocrb, courier, monospace;
        font-size: 12px;
    }
    .sirgixbvr-1{
        top:207.7mm;left:6.54mm;font-family: arial, sans-serif;font-size: 11px;
    }
    .sirgixbvr-2{
        top:207.7mm;left:63.5mm;font-family: arial, sans-serif;font-size: 11px;
    }
    .sirgixbvr-3{
        top:228.86mm;right:8.08mm
    }
    .sirgixbvr-4{
        top:237.33mm;left:27.94mm
    }
    .sirgixbvr-5{
        top:246.2mm;left:8.54mm;width:35.56mm;text-align:right;
    }
    .sirgixbvr-6{
        top:246.2mm;left:50.26mm;width:10mm
    }
    .sirgixbvr-7{
        top:254.26mm;left:6.54mm;font-size: 8px
    }
    .sirgixbvr-8{
        top:237.33mm;left:88.9mm
    }
    .sirgixbvr-9{
        top:246.2mm;left:66.5mm;width:35.56mm;text-align:right;
    }
    .sirgixbvr-10{
        top:246.2mm;left:111.22mm;width:10mm
    }
    .sirgixbvr-11{
        top:245.8mm;left:126mm;font-family: arial, sans-serif;font-size: 11px;
    }
    .sirgixbvr-12{
        top:262.73mm;left:6.54mm;font-family: arial, sans-serif;font-size: 11px;
    }
    .sirgixbvr-13{
        top:280mm;right:6mm;
        letter-spacing: 0.075mm;
        font-size:13px;
        text-align: right;
    }
    .sirgixbvr-14{
        top:267mm;left:81.28mm
    }

</style>
{% set split = bvr.amount|number_format(2)|split('.') %}

<div class="sirgixbvr sirgixbvr-1">{{ bvr.paymentFor|nl2br }}</div>
<div class="sirgixbvr sirgixbvr-2">{{ bvr.paymentFor|nl2br }}</div>
<div class="sirgixbvr sirgixbvr-3">{{ bvr.formattedReferenceNumber }}</div>
<div class="sirgixbvr sirgixbvr-4">{{ bvr.postalAccount }}</div>
<div class="sirgixbvr sirgixbvr-5">{{ split[0] }}</div>
<div class="sirgixbvr sirgixbvr-6">{{ split[1] }}</div>
<div class="sirgixbvr sirgixbvr-7">{{ bvr.formattedReferenceNumber }}</div>
<div class="sirgixbvr sirgixbvr-8" >{{ bvr.postalAccount }}</div>
<div class="sirgixbvr sirgixbvr-9" >{{ split[0] }}</div>
<div class="sirgixbvr sirgixbvr-10" >{{ split[1] }}</div>
<div class="sirgixbvr sirgixbvr-11" >{{ bvr.paymentFrom|nl2br }}</div>
<div class="sirgixbvr sirgixbvr-12" >{{ bvr.paymentFrom|nl2br }}</div>
<div class="sirgixbvr sirgixbvr-13 encodage">{{ bvr.encodingLine }}</div>
